:root {
    --blueText: #407dd8;
    --transparentBlueText: #407dd8ef;
    --heightNav: 4vw;
}

#topNavCustom a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: "Arial";
    transition: 0.2s;
}

#topNavCustom a:hover {
    color: #9e9e9e;
  }

#title1 {
    font-family: "Arial";
    color: var(--blueText);
    background-color: #303030d4;
}

body {
    background-image: url("/static/online/images/bg.jpg");
    background-repeat: no-repeat;
    image-rendering: pixelated;
    background-position: center center;
    background-size: cover;
    /* max-width: 100%;
    width: 100%;
    height: 100%; */
}

#headLine {
    border-bottom: medium solid var(--blueText);
    margin-bottom: 1vw;
    height: auto;
    position: sticky;
    z-index: 9;
}

#mainBlock {
    background-color: rgba(241, 241, 241, 0.892);
    position:absolute;
    width:85%;
    margin-left: 7.5%;
    border-radius: 2.5%;
}

@media (max-width: 991px) { /* mobile phone */
    #mainBlock {
        height:95%;
    }
    #leadCustom {
        font-size: 1.5rem;
    }
    #hide_from_desktop {
        display: none;
    }
    #rolesPopup {
        width: 75%;
        height: 80%;
    }
    #goodRole, #badRole, #roleInfo {
        font-size: .8rem;
    }
    #tableCustom {
        font-size: .7rem;
    }
}
@media (min-width: 992px) { /* desktop */
    #mainBlock {
        height:90%;
    }
    #leadCustom {
        font-size: 2.2rem;
    }
    #hideFromDesktop {
        display:none;
    }
    #rolesPopup {
        width: 40%;
        height: 75%;
    }
    #tableCustom {
        font-size: 1.2rem;
    }
}

#customLink a{
    text-decoration: none;
    color: var(--blueText);
    transition: 0.2s;
}

#customLink a:hover {
    color: black;
}

h1 a, a:hover{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

#secondRow {
    margin-top:1vw;
    margin-bottom:1vw;
    width:auto;
    height:100%;
}

h1 {
    display: inline;
}

html,body { height:100%; }

#rolesPopup {
    display: none;    
    position: absolute;
    transform: translate(-50%, -50%);
    background-color:var(--transparentBlueText);
    z-index: 10;
    border-radius: 1.5%;
    top: 50%;
    left: 50%;
}

#leadCustom {
    font-weight: 300;
}

#rolesPopup {
    color: white;
}

#goodRole {
    color: blue;
}

#badRole {
    color:red;
}