:root {
    --pinkText: #407dd8;
    --heightNav: 50px;
}

#topNavCustom a{
    /* padding: 8px 8px 8px 22px; */
    text-decoration: none;
    font-size: 17px;
    color: white;
    font-family: "Arial";
    display: inline;
    transition: 0.2s;
    text-align: right;
}

#topNavCustom a:hover {
    color: #9e9e9e;
  }

#title1 {
    font-family: "Arial";
    color: var(--pinkText);
    background-color: #303030d4;
    display: inline;
}

body {
    background-image: url("/static/online/images/bg.jpg");
    /* background-color: #292929; */
    background-repeat: no-repeat;
    background-size: auto;
    image-rendering: pixelated;
    background-position: center center;
    background-size: cover;
}

#headLine {
    border-bottom: medium solid var(--pinkText);
    margin-bottom: 8px;
    height: var(--heightNav);
    position: sticky;
    top: 0;
    z-index: 10;
}

#mainBlock {
    background-color: rgb(241, 241, 241, 0.75);
    display: block;
    height:100%;
    border-radius: 10px;
}

#customLink a{
    text-decoration: none;
    color: var(--pinkText);
    transition: 0.2s;
}

#customLink a:hover {
    color: black;
}

h1 a, a:hover{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

#secondRow {
    height:calc(95% - var(--heightNav));
}

h1 {
    display: inline;
}

html,body { height:100%; }
