/virtualenv
__pycache__/
*.py[cod]
*$py.class
.env
.env.prod

#Django
*.log
db.sqlite3
db.sqlite3-journal
/migrations
/static
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
