{% extends 'base.html' %}

{% block page_title %}Create a User Name{% endblock %}

{% block input_box %}

<form action="{% url 'sign_up' %}" method='POST'>
    {% csrf_token %}
    <br>
    <div class="form-control">
        <div class="lead">
            <div class="row">
                <div class="col-md-3"></div>
                <span class="col-md-2" style="text-align:right;">{{ form.username.label_tag }}</span>
                <span class="col-md-3">{{ form.username }}</span>
            </div><br>
            <div class="row">
                <div class="col-md-3"></div>
                <span class="col-md-2" style="text-align:right;">{{ form.first_name.label_tag }}</span>
                <span class="col-md-3">{{ form.first_name }}</span>
            </div><br>
            <div class="row">
                <div class="col-md-3"></div>
                <span class="col-md-2" style="text-align:right;">{{ form.last_name.label_tag }}</span>
                <span class="col-md-3">{{ form.last_name }}</span>
            </div>
        </div>
    </div>
    <br>
    <div id="leadCustom">
        {% if form.errors %}
            <div style="color:red;">{{ form.username.errors | striptags }}</div>
            <br>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary btn-md button" style="width:250px;"><span>Create Account</span></button>
</form>

<br>
<div id="customLink" class="lead">
    <a href="{% url 'home_page' %}">Or Log In</a>
</div>

{% endblock %}