{% extends 'base.html' %}

{% block page_title %}Online{% endblock %}

{% block input_box %}
<form action="{% url 'online_game' game_id=game_id %}" method='POST'>
    {% csrf_token %}
    <div class="form-control">
        <div class="lead">
            {% for option in form %}
                <div class='col-md-7 text-end'>
                    {{ option.label_tag }}&ensp;
                    {{ option }}&ensp;%
                </div>
            {% endfor %}
            
            {% if form.errors %}
                {% for option in form %}
                    {% if option.errors %}<br>{% endif %}
                    <span style="color:red;">{{ option.errors | striptags }}</span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary btn-md button" style="width:250px;"><span>Start Game</span></button>
</form>
{% endblock %}