{% extends 'base.html' %}

{% block page_title %}Online{% endblock %}

{% block input_box %}
<form action="{% url 'online_game' game_id=game_id %}" method='POST'>
    {% csrf_token %}
    <div class="form-control">
        <div class="lead">
            {% for option in form %}
                <div class='col-md-7 text-end'>
                {% if option.label|lower in good_roles %}
                    <span id="goodRole"
                {% elif option.label|lower in bad_roles %}
                    <span id="badRole">
                {% endif %}
                {{ option.label_tag }}:&ensp;
                </span>
                {{ option }}&ensp;%
                </div>
            {% endfor %}
            Note: Iseult and Tristan (lovers) count as one assassinable role.
            {% if form.errors %}
                {% for option in form %}
                    {% if option.errors %}<br>
                    <span style="color:red;">Error: {{ option.errors | striptags }}</span>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary btn-md button" style="width:250px;"><span>Start Game</span></button>
</form>
{% endblock %}