{% extends 'base.html' %}


{% block input_box %}


<h1 class="display-6 float-left" style="position:absolute; left:1%;">Game ID: {{ game_id.0 }}{{ game_id.1 }}{{ game_id.2 }} {{ game_id.3 }}{{ game_id.4 }}{{ game_id.5 }}</h1>
<br>

<div id="leadCustom">
    <div class="ul" id="listUsers">
    </div>
</div>

<div id="guestWaitScreen" style="display:none;">
    Waiting for host
</div>
<div id="hostStartButton" style="display:none;">
    <button class="btn btn-primary btn-md button" style="width:150px;margin-top:5px;" id="startGameClicked"><span>Start Game</span></button>
    <div id='errorStarting'></div>
</div>

<div id="duringGame" style="display:none;">
</div>

<div id="endGameButtons" style="display:none;">
    <br>
    <div id="resistanceWins">
        <button class="btn btn-outline-primary btn-lg" style="width:200px;" id="resistanceWins">Resistance Wins</button>
    </div>
    <br><br><br><br><br>
    <div id="spiesWin">
        <button class="btn btn-outline-danger btn-lg" style="width:200px;" id="spiesWin">Spies Win</button>
    </div>
    <br><br><br><br><br>
    <div id="goBack">
        <button class="btn btn-secondary btn-lg" style="width:200px;" id="goBack">Go Back</button>
    </div>
</div>

<span class="lead">
    <div id='showWinner' style="display:none;">
    </div>
</span>

<div id="endGame" style="display:none;">
    <button class="btn btn-primary btn-md" style="width:150px;margin-top:5px;" id="startGameClicked">End Game</button>
</div>



{% endblock %}



{% block  loadBackgroundAnimation %}
<div class="area">
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>

</ul>
</div >
{% endblock loadBackgroundAnimation %}



{% block javascript %}
{{ block.super }}

{{ settings|json_script:"settings" }}

{{ game_id|json_script:"game_id" }}
{{ full_name|json_script:"username" }}

{% load static %}
<script src="{% static 'online/javascript/during_game.js' %}"></script>
<script src="{% static 'online/javascript/online_game.js' %}"></script>

{% endblock javascript %}