{% extends 'base.html' %}

{% block page_title %}Local{% endblock %}

{% block input_box %}
<form action="{% url 'local_game' game_id=game_id %}" method='POST'>
    {% csrf_token %}
    <div class="form-group">
        <div class="lead">
            <span class="row">

                {% for field, percents in form.get_fields %}
                        {% if forloop.counter|divisibleby:2 %}
                            <span class="col-md-2">1{{ field }} %</span>
                        {% else %}
                            <span class="col-md-2" style='text-align:right;'>2{{ field.label_tag }}&ensp;{{ field }}&ensp;{{ percents }}</span>
                        {% endif %}
                {% endfor %}

                {% comment %} <span class='col-md-4'>
                {% for field in form.bad_roles %}

                        {% if forloop.counter|divisibleby:2 %}
                            <span class="col-md-2">1{{ field }} %
                            </span></div>
                        {% else %}
                            <div class="row"> {% endcomment %}
                            {% comment %} <span class="col-md-3"></span> {% endcomment %}
                            {% comment %} <span class="col-md-2" style='text-align:right;'>4{{ field.label_tag }}&ensp;{{ field }}&ensp;</span>
                        {% endif %}
                {% endfor %}
                </span> {% endcomment %}

            </span>
            
            {% comment %} {% if form.errors %}
                {% for option in form %}
                    {% if option.errors %}<br>{% endif %}
                    <span style="color:red;">{{ option.errors | striptags }}</span>
                {% endfor %}
            {% endif %} {% endcomment %}
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary btn-md button" style="width:250px;"><span>Start Game</span></button>
</form>
{% endblock %}