<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--, maximum-scale=1, user-scalable=no">-->
<html lang="en">
    <head>
        {% load static %}
        <!-- <link href='{% static "bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">  -->
        <link href='{% static "online/bootstrap/css/bootstrap.css" %}' rel="stylesheet" type="text/css">
        <link href='{% static "online/css/base.css" %}' rel="stylesheet" type="text/css">
        <title>The Resistance</title>
    </head>
    
    <body>
        <div class="myBG">
        </div>

        <div class="container-fluid">
            <span class="d-none d-lg-block">
                <div class="row" id="headLine">
                    <div id="title1">
                        <span class="col-sm-6" id="titleLink">
                            <h1><a href='{% url "home_page" %}'>The Resistance</a></h1>
                        </span>
                        <span class="col-sm-6 text-right" style="margin-right:7.5%;">
                            <span id="topNavCustom" style="position:absolute; bottom:0; right:7.5%;">
                                <a href='{% url "about" %}'>about</a>&ensp;<span style="font-weight: 1000;font-size:1.5rem;">|</span>
                                &ensp;<a href='{% url "help" %}'>help</a>&ensp;<span style="font-weight: 1000;font-size:1.5rem;">|</span>
                                &ensp;<a href='{% url "leaderboards" %}'>leaderboards</a>&ensp;<span style="font-weight: 1000;font-size:1.5rem;">|</span>
                                {% if user.is_authenticated %}
                                    &ensp;<a href='{% url "my_account" %}'>my account - {{ user.username }}</a>
                                {% else %}
                                    &ensp;<a href='{% url "home_page" %}'>login or sign up</a>
                                {% endif %}
                            </span>
                        </span>
                    </div>
                </div>
            </span>

            <div class="row" id="secondRow">
                <div class="text-center" id="mainBlock">
                    <div class="dropdown" style="margin-top:1%; position: absolute; right:1%;">
                        <button onclick='toggleDropdown()' class="btn btn-secondary btn-sm">Roles</button>
                    </div>
                    <h1 class="display-2">{% block page_title %}{% endblock %}</h1>
                    {% block input_box %}{% endblock %}
                </div>
            </div>

        </div>  <!-- end container-fluid -->

        <div id="rolesPopup" style="padding-left:1rem;padding-top:1rem;">
            <div class="display-6 text-center">Roles</div>
            <div class="lead">
                <span id="goodRole">Jester</span><span id="roleInfo">: does stuff</span>
                <br><span id="goodRole">Merlin</span><span id="roleInfo">: does stuff</span>
                <br><span id="goodRole">Merlin</span><span id="roleInfo">: does stuff</span>
                <br><span id="goodRole">Merlin</span><span id="roleInfo">: does stuff</span>
                <br><span id="goodRole">Merlin</span><span id="roleInfo">: does stuff</span>
                <br><span id="goodRole">Merlin</span><span id="roleInfo">: does stuff</span>
                <br><span id="goodRole">Merlin</span><span id="roleInfo">: does stuff</span>
                <br><span id="badRole">Merlin</span><span id="roleInfo">: does stuff</span>
                <br><span id="badRole">Merlin</span><span id="roleInfo">: does stuff</span>
                <br><span id="badRole">Merlin</span><span id="roleInfo">: does stuff</span>
                <br><span id="badRole">Merlin</span><span id="roleInfo">: does stuff</span>
            </div>
        </div>

        {% block loadBackgroundAnimation %}
        {% endblock %}
    </body>
</html>


{% block javascript %}
<script src="{% static 'online/javascript/base.js' %}"></script>
<script src='{% static "online/bootstrap/js/bootstrap.min.js" %}'></script>

{% endblock javascript %}