{% extends 'base.html' %}

{% block page_title %}Home{% endblock %}

{% block input_box %}
<br>
<div class="lead" id="customLink">
    <div id="leadCustom">
        {% if user.is_authenticated %}
        <br><div id="leadCustom">Welcome, {{ user.username }}.</div>
        {% else %}
        Please login below or <a href="{% url 'sign_up' %}">create a username</a> before continuing.<br>

        <form action="{% url 'home_page' %}" method='POST'>
            {% csrf_token %}
            <div class="form-control">
                <div class="lead">
                    <div class="row">
                        <span class="col-md-4" style="float:none;margin:auto;">{{ form.username }}</span>
                        </span>
                    </div>
                </div>
            </div>
            {% if form.errors %}
                <div style="color:red;">{{ form.errors }}</div>
            {% endif %}
            {% if userError %}
                <div style="color:red;">{{ userError }}</div>
            {% endif %}
            <button type="submit" class="btn btn-dark btn-lg btn-block" style="width:250px;">Login</button>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="lead" id="leadCustom">
        <br>
        <div class="span2">
            <a href="{% url 'home_online' %}" type="button" class="btn btn-primary btn-lg btn-block" style="width:250px;">Online</a>
        </div>
        <br>
        <div class="span2">
            <a href="{% url 'home_local' %}" type="button"  class="btn btn-primary btn-lg btn-block" style="width:250px;">Local</a>
        </div>
    </div>
</div>


{% endblock %}


{% block javascript %}
{{ block.super }}

{% load static %}
<script src='{% static "online/javascript/base.js" %}'></script>
{% endblock javascript %}